.container-category {
    text-align: left;
    width: 90%;
    margin: 2rem auto 0 auto;
}

.container-category h1 {
    font-size: 35px;
    width: 90%;
    font-weight: 600;
    margin: 1rem 0;
}

.txt-color {
    color: #F05542;
}

/* card */
.container-category .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.container-category .cards .card {
    min-width: 288px;
    max-width: 288px;

    padding: 3rem 2rem;
    display: flex;
    gap: 20px;
    cursor: pointer;
    align-items: center;

    border: 1px solid #F05542;
    border-radius: 10px;
    box-shadow: 1px 1px 15px 1px rgba(22, 22, 22, 0.247);
}

.container-category .cards .card h2 {
    color: #24242A;
    font-size: 24px;
    font-weight: bold;
}

.container-category .cards .card span {
    color: #0e0f0f8a;
    font-size: 16px;
    font-weight: 500;
}